<!DOCTYPE html>

<html>
  <head>
    <title>Creditos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= nombre %></h1>
    <img src="/images/isabel.jpg" alt="Isabel" width="200">
  </body>
</html>
