<!DOCTYPE html>

<html>
  <head>
    <title>Creditos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= nombre %></h1>
    <img src="/home/isabel/apps/quiz/public/images/isabel.jpg">
  </body>
</html>
